{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container">
    <h1>Divide tu audio</h1>
    <form method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Divide</button>
        <a class="btn btn-primary" href="{% url 'index' %}" role="button">Divide dos audios</a>
    </form>

    {% if error_message %}
    <p class="error">{{ error_message }}</p>
    {% endif %}

{% endblock %}
   